  <!--main container -->
        <div class="container-fluid">
            <div class="container">
                <div class="row lgfrm">
               
                    <div class="col-sm-12"> 
                        {{#if errorMsg}}
                        <div class="form-group">
                                <p>{{errorMsg}}</p>
                        </div>  
                        {{/if}}
                        <div class="form-group">
                            <label>Email</label>
                            {{input type="email" placeholder="email" value=username  class="form-control"}}
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            {{input type="password" placeholder="Password" value=password class="form-control"}}
                        </div>
                        <div class="form-group">
                            <input type="button" class="btn btn-default full-width" value="Login" {{action 'login'}}>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <!--/main container -->