<h1> User Profile </h1>
{{#link-to "user.index"}}
    Quotes
{{/link-to}}

{{#link-to "user.following"}}
    Following
{{/link-to}}

{{#link-to "user.followers"}}
    Followers
{{/link-to}}
{{outlet}}
