<!--main container -->
        <div class="container-fluid">
            <div class="container">
                  {{outlet}}
                  {{profile-details user=model.user}}
            </div>
        </div>
<!--/main container -->